.main_basket {
  width: 100%;
  display: flex;
  padding: 1rem;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
}
.basket_content {
  width: 80%;
  flex-grow: 1;
  background-color: $white;
  &-title {
    text-align: center;
    color: $gray;
  }

  &-list {
    // width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;

    &-row_container {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      align-items: center;
      color: $granat;
      gap: 1rem;
      padding: 0 0.5rem;
      &-order {
        width: 2.4rem;
        overflow-x: scroll;
      }
      &-thumbnail {
        width: 4rem;
      }
      &-name {
        color: $granat;
        min-width: 30rem;
        max-width: 35rem;
        overflow-x: scroll;
      }
      &-price {
        margin-left: auto;
        width: 10rem;
        text-align: right;
      }
      &-grip {
        width: 10rem;
      }
      &-length {
        width: 11rem;
      }
      &-quantity {
        // margin-left: auto;
        width: 10rem;
        &-label {
          width: 4rem;
        }
        &-input {
          width: 5rem;
          height: 3.2rem;
          color: $granat;
        }
      }
      &-row_price {
        width: 15rem;
        &-price {
          width: 100%;
        }
      }
      &-remove_button {
        color: $granat;
        transition: color 0.4s ease-in-out;
      }
      &-remove_button:hover {
        color: $orange;
      }
    }
  }
  &-list > *:nth-child(even) {
    background-color: rgb(201, 201, 201);
  }
  &-list > *:nth-child(odd) {
    background-color: $faded-orange;
  }
}
.basket_summary {
  width: 20%;
  position: sticky;
  align-self: flex-start;
  top: 40%;
  padding: 1.5rem;
  gap: 1rem;
  background-color: $white;

  &-title {
    color: $gray;
    text-align: left;
  }
  &-details {
    color: $granat;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-sum {
      font-weight: $font-weight-thick;
    }
  }
  &-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    .standard_button {
      margin: 0;
    }
  }
}
