.main_checkout {
  background-color: $white;

  height: 90vh;
  display: flex;
  // flex-direction: column;
  padding: 1rem;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
  overflow-y: scroll;
  &-title {
    color: $gray;
    margin: 0 auto;
    background-color: $white;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    &-products {
      background-color: $white;
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: $main-view-padding;
      &-title {
        text-align: center;
        color: $gray;
      }
      &-list_title {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        color: $granat;
      }
      &-sum {
        text-align: right;
      }
    }
  }

  &-summary {
    width: 20%;
    position: sticky;
    // align-self: flex-start;
    display: flex;
    flex-direction: column;
    top: 40%;
    padding: 1.5rem;
    gap: 1.6rem;
    background-color: $white;
    &-title {
      color: $gray;
    }
    &-details {
      color: $granat;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-sum {
        font-weight: $font-weight-thick;
      }
    }
  }
}
