.main_checkout {
  background-color: $white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
  height: calc(100vh - 32rem);
  &-title {
    color: $gray;
    margin: 0 auto;
  }
}
