.checkout_title {
  width: 100%;
  color: $gray;
  position: sticky;
  text-align: center;
  margin: 2rem auto;
}
.main_checkout {
  height: 90vh;
  display: flex;
  // flex-direction: column;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
  overflow-y: auto;
  &-logo {
    width: 10rem;
  }
  &-title {
    color: $gray;
    margin: 0 auto;
    background-color: $white;
  }
  &-content {
    display: flex;
    background-color: $white;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 2rem;
    &-products {
      background-color: $white;
      display: flex;
      flex-direction: column;
      // padding: $main-view-padding;
      &-title {
        text-align: center;
        color: $gray;
      }
      &-list_title {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        color: $granat;
      }
      &-sum {
        text-align: right;
      }
    }
  }

  &-summary {
    width: 20%;
    position: sticky;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    top: 40%;
    padding: 1.5rem;
    gap: 1.6rem;
    background-color: $white;
    &-logo {
      width: 5rem;
      filter: grayscale(100%);
    }
    &-title {
      color: $gray;
    }
    &-details {
      color: $granat;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-sum {
        font-weight: $font-weight-thick;
      }
    }
  }
}
