@import "_variables";
@import "_globals";

@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_hero";

@import "components/_header_link";
@import "components/_slideshow";
@import "components/_slide";

@import "components/_tile_browser";
@import "components/_tile";

@import "components/_rate_balls";

@import "components/_standard_button";
@import "components/_breadcrumbs";
@import "components/_product_preview";

.dashboard {
  background-color: $faded-orange;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &-pulpit {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    background-color: bisque;
    width: 40%;
    &-header {
      background-color: burlywood;
      &-new_best {
        background-color: pink;
        display: flex;
        justify-content: start;
        &-new_img {
          width: 4rem;
        }
        &-bestseller_img {
          width: 4rem;
        }
      }

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-name {
          color: $granat;
        }
        &-manufacturer {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-name {
            &-link {
              text-decoration: none;
              color: $granat;
            }
            &-link:hover {
              color: $orange;
            }
          }
        }
      }
      &-price {
        &-value {
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          color: $granat;
          font-size: $font-larger;
          font-weight: $font-weight-thick;
          width: fit-content;
        }
        &-before {
          color: $gray;
          font-size: $font-small;
          margin-top: -1rem;
        }
      }
    }
    &-variants {
      background-color: teal;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-slideshow {
        width: 100%;
      }
      &-sizes {
        background-color: rgb(88, 151, 147);
        width: 100%;
        &-show {
          color: $granat;
          &-table {
            text-decoration: underline;
            cursor: pointer;
          }
          &-table:hover .hide {
            display: visible;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
    &-line {
      border: 0.1rem solid $gray;
    }

    &-add {
      background-color: goldenrod;
      display: flex;
    }
  }
}
.description {
  width: 100%;
}
.hide {
  display: none;
}
