@import "_variables";
@import "_globals";

@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_hero";

@import "components/_header_link";
@import "components/_slideshow";
@import "components/_slide";

@import "components/_tile_browser";
@import "components/_tile";

@import "components/_rate_balls";

@import "components/_standard_button";
@import "components/_breadcrumbs";
@import "components/_product_preview";

.dashboard {
  background-color: $faded-orange;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &-pulpit {
    background-color: bisque;
    width: 100%;
    &-header {
      background-color: burlywood;
      &-new_best {
        display: flex;
        justify-content: center;
        &-new_img {
          width: 4rem;
        }
        &-bestseller_img {
          width: 4rem;
        }
      }
      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-name {
          color: $granat;
        }
        &-manufacturer {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-name {
            &-link {
              text-decoration: none;
              color: $granat;
            }
            &-link:hover {
              color: $orange;
            }
          }
        }
      }
      &-price {
        &-value {
          font-size: $font-large;
        }
        &-percent {
          color: $white;
          font-size: $font-small;
          background-color: $orange;
          padding: 0.2rem 0.5rem;
          transform: skewX(-10deg);
        }
      }
    }
    &-variants {
      background-color: teal;
      &-slideshow {
        width: 100%;
        &-list {
          display: flex;
          gap: 1rem;
          &-variant {
            &-link {
              &-image {
                max-width: 8rem;
                border: 0.2rem solid $gray;
              }
            }
          }
        }
      }
      &-sizes {
        background-color: rgb(88, 151, 147);
        width: 100%;
        &-show {
          color: $granat;
          &-table {
            text-decoration: underline;
            cursor: pointer;
          }
          &-table:hover {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    &-add {
      background-color: goldenrod;
      display: flex;
    }
  }
}
.description {
  width: 100%;
}
