@import "_variables";
@import "_globals";

@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_hero";

@import "components/_header_link";
@import "components/_slideshow";
@import "components/_slide";

@import "components/_tile_browser";
@import "components/_tile";

@import "components/_rate_balls";

@import "components/_standard_button";
@import "components/_breadcrumbs";
@import "components/_product_preview";

.dashboard {
  padding: 0 1rem;
  background-color: $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &-pulpit {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    // background-color: bisque;
    width: 40%;
    &-header {
      // background-color: burlywood;
      &-new_best {
        // background-color: pink;
        display: flex;
        justify-content: start;
        &-new_img {
          width: 4rem;
        }
        &-bestseller_img {
          width: 4rem;
        }
      }

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-name {
          color: $granat;
        }
        &-manufacturer {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-name {
            &-link {
              text-decoration: none;
              color: $granat;
              transition: color 0.4s ease-in-out;
            }
            &-link:hover {
              color: $orange;
            }
          }
        }
      }
      &-price {
        &-value {
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          color: $granat;
          font-size: $font-larger;
          font-weight: $font-weight-thick;
          width: fit-content;
        }
        &-before {
          color: $gray;
          font-size: $font-small;
          margin-top: -1rem;
        }
      }
    }
    &-variants {
      // background-color: teal;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-title {
        color: $granat;
      }

      &-sizes {
        // background-color: rgb(88, 151, 147);
        width: 100%;
        color: $granat;
        &-size {
          display: flex;
          position: relative;
          gap: 2rem;
          &-show {
            color: $granat;
            text-decoration: underline;
            cursor: pointer;
            width: 15rem;
            height: 2.5rem;
          }
          &-show:hover + .hide {
            display: block;
          }
          &-table {
            position: absolute;
            z-index: 5;
            width: 30rem;
            padding: 0.5rem;
            top: 80%;
            left: 100%;
            transform: translate(-80%, -18%);
            background-color: $white;
            box-shadow: $box-shadow;
            tr {
              text-align: center;
            }
          }
        }
      }
      &-length {
        &-title {
          color: $granat;
        }
      }
      &-pattern {
        color: $granat;
      }
      &-material {
        color: $granat;
      }
      &-cover {
        color: $granat;
      }
    }

    &-line {
      border: 0.1rem solid $gray;
    }
    &-add {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      width: 100%;
      &-amount {
        &-label {
          color: $granat;
        }
        &-quantifier {
          color: $granat;
          max-width: 6rem;
          border: 0.1rem solid $gray;
        }
      }
      &-availability {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-available {
          color: $granat;
        }
        &-warning {
          color: $error-color;
        }
        &-unavailable {
          color: $error-color;
        }
      }
    }
  }
}
.description {
  background-color: $white;
  width: 100%;
  padding: 1rem;

  &-head {
    color: $granat;
    text-align: center;
    margin: 1rem 0;
  }
  &-text {
    color: $granat;
    text-align: justify;
    column-count: 3;
    // column-width: 30ch;
    column-gap: 2em;
    text-indent: 2em;
  }
}
.warranty {
  background-color: $white;
  width: 100%;
  padding: 1rem;

  &-head {
    color: $granat;
    text-align: center;
    margin: 1rem 0;
  }
  &-time {
    color: $granat;
    text-align: center;
    &-number {
      font-size: $font-large;
    }
  }
  &-text {
    margin-top: 1rem;
    color: $granat;
    text-align: justify;
    column-count: 3;
    // column-width: 30ch;
    column-gap: 2em;
    text-indent: 2em;
  }
}
.opinions {
  padding-top: 2rem;

  background-color: $white;
  &-head {
    color: $granat;
    text-align: center;
  }
  &-write {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    min-height: 20rem;
    max-height: 30rem;
    &-rate_wrapper {
      display: flex;
      gap: 2rem;
      // flex-direction: column;
      &-new_rate_label {
        color: $granat;
      }
      &-new_rate {
        color: $granat;
        width: 5rem;
        border: 0.1rem solid $gray;
      }
    }
    &-review_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 45rem;
      &-new_review_label {
        color: $granat;
      }
      &-new_review {
        color: $granat;
        padding: 0.5rem;
        border: 0.1rem solid $gray;
        overflow: scroll;
        resize: none;
      }
      &-new_review:focus + .hide_textarea {
        display: block !important;
      }
      &-not_logged {
        color: $error-color;
        // display: n;
      }
      &-agreement {
        color: $gray;
        font-size: $font-small;
      }
    }
    &-error_output {
      color: $error-color;
    }
  }
  &-wrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5rem;
    padding: 2rem;
    max-height: 60rem;
    overflow-y: scroll;
    box-shadow: 0rem -1rem 1rem -1rem #00000063 inset;
  }
}

.hide {
  display: none;
}
.hide_textarea {
  display: none;
}
// #new_review:focus + .hide {
//   display: block !important;
//   background-color: pink;
// }
