.main_rackets {
  background-color: $white;
  // height: calc(100vh - 34rem);
  display: flex;
  flex-direction: column;
  margin: 1.6rem auto;
  // overflow-y: scroll;
  margin-top: 4rem;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
}

hr {
  margin-top: 2rem;
  width: 100%;
}
