$granat: #002b5b;
$orange: #ff6600;
$gray: #808080;
$faded-orange: #ffeadf;

$white: white;
$outline-granat: linear-gradient(to right, #002a5b00, #002b5b);
$outline-gray: linear-gradient(to right, #80808000, #808080);

$font-larger: 3rem;
$font-large: 2rem;
$font-medium: 1.6rem;
$font-small: 1.4rem;

$font-weight-normal: 400;
$font-weight-thick: 600;
$font-weight-bold: 800;
$font-family: "poppins", sans-serif;
$letter-spacing-wide: 0.2rem;
$letter-spacing-wider: 0.4rem;

$box-shadow: 0rem 0rem 0.6rem 0.1rem #00000063;

$error-color: #b51818;

$display-width-small: 768px;

$display-width-medium: 768px;
$display-width-large: 1280px;

$main-view-max-width: 152rem;
$main-view-padding: 0rem 4rem;
