@import "_variables";
@import "_globals";
@import "product";

@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_hero";
@import "layouts/recommendation";

@import "components/_header_link";
@import "components/_log_modal";
@import "components/_tab_nav";

@import "components/_register.scss";

@import "components/_slideshow";
@import "components/_slide";

@import "components/_tile_browser";
@import "components/_tile";

@import "components/_rate_balls";

@import "components/_standard_button";
@import "components/_light_button";
@import "components/wide_button";
@import "components/_breadcrumbs";
@import "components/_product_preview";

@import "components/input";
// @import "product";

body {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
}
.main {
  background-color: yellow;
  margin: 1.6rem auto;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
}
