/* 1. Use a more-intuitive box-sizing model */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  background-image: url(../res/icon/square-tile.svg);
  background-repeat: repeat;
  background-attachment: fixed;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.breakpoint {
  width: 1280px;
  margin: auto;
}

input:focus {
  outline: 0.2rem solid #ff6600;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  background-image: url(../res/icon/square-tile.svg);
  background-repeat: repeat;
  background-attachment: fixed;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.breakpoint {
  width: 1280px;
  margin: auto;
}

input:focus {
  outline: 0.2rem solid #ff6600;
}

.header {
  top: 0;
  position: sticky;
  width: 100%;
  padding: 0.8rem 0;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  z-index: 15;
}
.header-content {
  width: 100%;
  max-width: 152rem;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-logo {
  height: 8rem;
  cursor: pointer;
}
.header-content-search {
  background-color: #002b5b;
  max-width: 47ch;
  display: flex;
  border: 0.4rem solid #002b5b;
  transform: skewX(-10deg);
}
.header-content-search-input {
  padding-right: 0.5rem;
  font-size: 1.6rem;
  text-align: right;
  color: #808080;
  border: none;
}
.header-content-search-input:focus {
  outline: 0.1rem solid #ff6600;
}
.header-content-search-button {
  background-color: #002b5b;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}
.header-content-search-button-img {
  width: 1.9rem;
  transform: skewX(10deg);
  transition: transform 0.4s ease-in-out;
}
.header-content-search-button:hover {
  background-color: #ff6600;
}
.header-content-search-button:hover .header-content-search-button-img {
  transform: rotate(-15deg);
}
.header-content-search-button:active {
  background-color: #ff6600;
}
.header-content-search-button:active .header-content-search-button-img {
  transform: rotate(15deg);
}
.header-content-burger {
  width: 4rem;
  visibility: collapse;
}
.header-content-nav-list {
  display: flex;
}
.header-content-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-account-user {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content-account-user-person {
  width: 4rem;
  position: relative;
  top: 0.4rem;
  left: 0.2rem;
}
.header-content-account-user-login {
  color: #002b5b;
  font-size: 1.6rem;
  position: relative;
  bottom: 0.4rem;
  max-width: 100%;
  overflow-x: scroll;
  transition: color 0.4s ease-in-out;
}
.header-content-account-user-login:hover {
  color: #ff6600;
}
.header-content-account-shopping {
  padding: 0 1rem;
  order: 0;
  position: relative;
  top: -0.25rem;
}
.header-content-account-shopping-basket_link {
  position: relative;
}
.header-content-account-shopping-basket_link-basket {
  width: 3.9rem;
  position: relative;
  top: 1.5rem;
}
.header-content-account-shopping-basket_link-number {
  position: absolute;
  left: 0.5rem;
  background-color: #ff6600;
  width: 1.8em;
  height: 1.8em;
  padding: 0.5em;
  border-radius: 50% 50%;
  position: relative;
  bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.header-content-account-shopping-basket_link-number:hover {
  transform: scale(1.2);
}
.header-content-account-shopping-basket_link-number:active {
  transform: scale(0.8);
  transition: transform 0.25s;
  transition-timing-function: ease-in;
}

@media (max-width: 128em) {
  .header-content {
    flex-wrap: wrap;
  }
  .header-content-nav {
    width: 100%;
    order: 1;
    margin-top: 0.8rem;
  }
  .header-content-nav .header-content-nav-list {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (pointer: coarse) {
  .button {
    padding: 2em 3em;
  }
  .header-content-burger {
    visibility: visible;
  }
}
.footer {
  clear: both;
  position: relative;
  bottom: 0;
  margin: 1.6rem auto;
  width: 152rem;
  padding: 0rem 4rem;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.footer-wrapper {
  width: 100%;
  color: white;
  filter: invert(100%);
  opacity: 0.5;
  padding: 1rem 0;
}
.footer-wrapper-address {
  font-size: 1.4rem;
  text-align: right;
}
.footer-wrapper-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-categories-category-list-row-link {
  color: white;
}
.footer-wrapper-categories-category-list-row-link-image {
  width: 3.2rem;
  margin-bottom: 1rem;
}
.footer-wrapper-categories-category-list-row-link:hover {
  text-decoration-line: underline;
}

.footer-wrapper-categories-category:last-child .footer-wrapper-categories-category-list-row:first-child {
  align-self: first baseline;
  margin-bottom: 0.5rem;
}
.footer-wrapper-categories-category:last-child .footer-wrapper-categories-category-list-row:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.header_link {
  padding: 0.4rem 2.2rem;
}
.header_link-link {
  font-size: 2rem;
  font-weight: 400;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
  text-decoration: none;
}
.header_link-link:hover {
  color: #ff6600;
}

.slideshow {
  width: 100%;
  min-height: 50rem;
  overflow-x: hidden;
  position: relative;
}
.slideshow-list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
  margin-left: 36rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.slideshow-nav {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}
.slideshow-nav-left_button-ball {
  transform: rotate(-180deg);
}

.slideshow-nav button {
  scale: 0.8;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}

.slideshow-nav button:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
.slideshow-list-slide {
  background-color: rgb(142, 184, 68);
  width: 72rem;
  height: 50rem;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-shrink: 0;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.slideshow-list-slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow-list-slide-details {
  -webkit-backdrop-filter: blur(10rem);
  background-color: rgba(255, 255, 255, 0.279);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  color: #002b5b;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  position: absolute;
  max-width: 45ch;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1.6rem 1.6rem 0;
  padding: 1rem;
}
.slideshow-list-slide-details h3 {
  text-align: center;
}
.slideshow-list-slide-details button {
  align-self: end;
}

.inactive_slide {
  scale: 0.8;
  filter: sepia(0.65);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.tile_browser {
  margin-top: 1.6rem;
  padding-top: 1rem;
  width: 100%;
  overflow-x: hidden;
}
.tile_browser-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.tile_browser-head-hr {
  max-width: 30rem;
}
.tile_browser-head-header {
  display: flex;
  flex-direction: column;
}
.tile_browser-head-header-title {
  color: #002b5b;
}
.tile_browser-head-header-hr {
  width: 27.5rem;
  color: #ff6600;
  border: 0.2rem solid #ff6600;
}
.tile_browser-head-nav {
  display: flex;
  gap: 1.6rem;
}
.tile_browser-head-nav button {
  scale: 0.8;
}
.tile_browser-head-nav button img {
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.tile_browser-head-nav-left_button-ball {
  transform: rotate(-180deg);
}
.tile_browser-head-nav-left_button:hover {
  transform: rotate(-180deg);
}
.tile_browser-head-nav button:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.tile_browser-list {
  display: flex;
  gap: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
.tile {
  width: 27.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 0 0 27.5rem;
  position: relative;
  cursor: pointer;
  border: 0.4rem solid transparent;
  -o-border-image: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
     border-image: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
  border-image-slice: 1;
  max-width: 100%;
}
.tile-link-img_wrapper {
  width: 100%;
  overflow: hidden;
}
.tile-link-img_wrapper-img {
  width: 100%;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.tile-link-img_wrapper-img:hover {
  transform: scale(1.2);
}
.tile-link-discount {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: white;
  font-size: 1.4rem;
  background-color: #ff6600;
  padding: 0.2rem 0.5rem;
  transform: skewX(-10deg);
}
.tile-link-details {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  pointer-events: none;
}
.tile-link-details-name {
  color: #002b5b;
  font-size: 1.6rem;
  overflow-x: scroll;
  margin-bottom: 0.8rem;
}
.tile-link-details-price {
  display: flex;
  gap: 0.8rem;
}
.tile-link-details-price-new {
  font-size: 2rem;
  color: #ff6600;
  font-weight: 600;
}
.tile-link-details-price-old {
  font-size: 1.4rem;
  color: gray;
}

.rate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rate-balls {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.rate-balls-ball-img_gray {
  filter: grayscale(1);
}
.rate-opinions {
  font-size: 1.4rem;
  color: #002b5b;
}
.rate-opinions-score {
  color: #002b5b;
}
.rate-opinions-score-average {
  color: #002b5b;
}
.rate-opinions-score-of {
  color: #002b5b;
}
.rate-opinions-score-number {
  color: #002b5b;
}
.rate-opinions-score-number-link {
  text-decoration: none;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}
.rate-opinions-score-number-link:hover {
  color: #ff6600;
}

.standard_button {
  background-color: #ff6600;
  font-size: 1.6rem;
  padding: 0.6em 1.4em;
  margin: 0 auto;
  max-height: 3.5em;
  transform: skewX(-10deg);
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  transition: transform 0.4s ease-in-out;
}
.standard_button-wrapper {
  transform: skewX(10deg);
  transition: transform 0.4s ease-in-out;
}
.standard_button-wrapper-link {
  color: white;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

.standard_button:hover {
  transform: skewX(0deg);
}
.standard_button:hover .standard_button-wrapper {
  transform: skewX(0deg);
}
.standard_button:hover .standard_button-wrapper .standard_button-wrapper-link {
  color: #002b5b;
  transition: color 0.4s;
  transition-timing-function: ease-in-out;
}

.breadcrumbs {
  width: 100%;
  position: fixed;
  top: 10rem;
  transition: transform 0.3s ease-out;
  z-index: 10;
}
.breadcrumbs-breadcrumbs_list {
  display: flex;
  gap: 0.5rem;
  max-width: 152rem;
  padding: 0rem 4rem;
  width: 100%;
  margin: 0.8rem auto 0 auto;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  color: #808080;
}
.breadcrumbs-breadcrumbs_list-crumb-link {
  text-decoration: none;
  color: #808080;
  transition: color 0.4s ease-in-out;
}
.breadcrumbs-breadcrumbs_list-crumb-link:hover {
  color: #ff6600;
}
.breadcrumbs-breadcrumbs_list li:only-child a {
  color: #002b5b;
}
.breadcrumbs-breadcrumbs_list-last_crumb {
  color: #002b5b;
}
.breadcrumbs-breadcrumbs_list-separator {
  color: #808080;
}
.breadcrumbs-breadcrumbs_list-separator:last-child {
  visibility: hidden;
}

.hidden_crumb {
  transform: translateY(-110%);
}

@media (max-width: 128em) {
  .breadcrumbs {
    top: 14rem;
  }
}
@media (max-width: 641px) {
  .breadcrumbs {
    top: 22rem;
  }
}
.product_preview {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.product_preview-preview {
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: none; /* Optional: hide default cursor */
}
.product_preview-preview-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_preview-slideshow {
  position: absolute;
}
.product_preview-slideshow-list {
  background: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
  padding: 0.5rem;
  max-height: 55rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: 5.4rem;
  left: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.product_preview-slideshow-list-slide {
  flex: 1;
  transform: scale(1);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.product_preview-slideshow-list-slide-button-image {
  height: 10rem;
}
.product_preview-slideshow-list-slide:hover {
  transform: scale(1.3);
  z-index: 10;
}
.product_preview-slideshow-list:hover {
  opacity: 1;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.dashboard {
  padding: 0 1rem;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.dashboard-pulpit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.dashboard-pulpit-header-new_best {
  display: flex;
  justify-content: start;
}
.dashboard-pulpit-header-new_best-new_img {
  width: 4rem;
}
.dashboard-pulpit-header-new_best-bestseller_img {
  width: 4rem;
}
.dashboard-pulpit-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dashboard-pulpit-header-title-name {
  color: #002b5b;
}
.dashboard-pulpit-header-title-manufacturer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-pulpit-header-title-manufacturer-name-link {
  text-decoration: none;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}
.dashboard-pulpit-header-title-manufacturer-name-link:hover {
  color: #ff6600;
}
.dashboard-pulpit-header-price-value {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  color: #002b5b;
  font-size: 3rem;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard-pulpit-header-price-before {
  color: #808080;
  font-size: 1.4rem;
  margin-top: -1rem;
}
.dashboard-pulpit-variants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard-pulpit-variants-title {
  color: #002b5b;
}
.dashboard-pulpit-variants-sizes {
  width: 100%;
  color: #002b5b;
}
.dashboard-pulpit-variants-sizes-size {
  display: flex;
  position: relative;
  gap: 2rem;
}
.dashboard-pulpit-variants-sizes-size-show {
  color: #002b5b;
  text-decoration: underline;
  cursor: pointer;
  width: 15rem;
  height: 2.5rem;
}
.dashboard-pulpit-variants-sizes-size-show:hover + .hide {
  display: block;
}
.dashboard-pulpit-variants-sizes-size-table {
  position: absolute;
  z-index: 5;
  width: 30rem;
  padding: 0.5rem;
  top: 80%;
  left: 100%;
  transform: translate(-80%, -18%);
  background-color: white;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.dashboard-pulpit-variants-sizes-size-table tr {
  text-align: center;
}
.dashboard-pulpit-variants-length-title {
  color: #002b5b;
}
.dashboard-pulpit-variants-pattern {
  color: #002b5b;
}
.dashboard-pulpit-variants-material {
  color: #002b5b;
}
.dashboard-pulpit-variants-cover {
  color: #002b5b;
}
.dashboard-pulpit-line {
  border: 0.1rem solid #808080;
}
.dashboard-pulpit-add {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
}
.dashboard-pulpit-add-amount-label {
  color: #002b5b;
}
.dashboard-pulpit-add-amount-quantifier {
  color: #002b5b;
  max-width: 6rem;
  border: 0.1rem solid #808080;
}
.dashboard-pulpit-add-availability {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard-pulpit-add-availability-ball {
  visibility: hidden;
  width: 3rem;
}
.dashboard-pulpit-add-availability-message {
  color: #002b5b;
}

.description {
  background-color: white;
  width: 100%;
  padding: 1rem;
}
.description-head {
  color: #002b5b;
  text-align: center;
  margin: 1rem 0;
}
.description-text {
  color: #002b5b;
  text-align: justify;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 2em;
       column-gap: 2em;
  text-indent: 2em;
}

.warranty {
  background-color: white;
  width: 100%;
  padding: 1rem;
}
.warranty-head {
  color: #002b5b;
  text-align: center;
  margin: 1rem 0;
}
.warranty-time {
  color: #002b5b;
  text-align: center;
}
.warranty-time-number {
  font-size: 2rem;
}
.warranty-text {
  margin-top: 1rem;
  color: #002b5b;
  text-align: justify;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 2em;
       column-gap: 2em;
  text-indent: 2em;
}

.opinions {
  padding-top: 2rem;
  background-color: white;
}
.opinions-head {
  color: #002b5b;
  text-align: center;
}
.opinions-write {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  min-height: 20rem;
  max-height: 30rem;
}
.opinions-write-rate_wrapper {
  display: flex;
  gap: 2rem;
}
.opinions-write-rate_wrapper-new_rate_label {
  color: #002b5b;
}
.opinions-write-rate_wrapper-new_rate {
  color: #002b5b;
  width: 5rem;
  border: 0.1rem solid #808080;
}
.opinions-write-review_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 45rem;
}
.opinions-write-review_wrapper-new_review_label {
  color: #002b5b;
}
.opinions-write-review_wrapper-new_review {
  color: #002b5b;
  padding: 0.5rem;
  border: 0.1rem solid #808080;
  overflow: scroll;
  resize: none;
}
.opinions-write-review_wrapper-new_review:focus {
  outline: 0.2rem solid #ff6600;
}
.opinions-write-review_wrapper-new_review:focus + .hide_textarea {
  display: block !important;
}
.opinions-write-review_wrapper-not_logged {
  color: #b51818;
}
.opinions-write-review_wrapper-agreement {
  color: #808080;
  font-size: 1.4rem;
}
.opinions-write-error_output {
  color: #b51818;
}
.opinions-wrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
  padding: 2rem;
  max-height: 60rem;
  overflow-y: scroll;
  box-shadow: 0rem -1rem 1rem -1rem rgba(0, 0, 0, 0.3882352941) inset;
}

.hide {
  display: none;
}

.hide_textarea {
  display: none;
}

.error_text_color {
  color: #b51818;
}

.message_text_color {
  color: #002b5b;
}

@keyframes pop {
  0%, 50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-65deg);
  }
  95% {
    transform: rotate(65deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
.spin {
  animation: spin 1s ease-in-out;
}

.wiggle {
  animation: wiggle 1s ease-in-out;
}

.pop {
  animation: pop 2s ease-in-out;
}

@media (max-width: 80em) {
  .description-text {
    -moz-column-count: 2;
         column-count: 2;
  }
  .warranty-text {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 50em) {
  .description-text {
    -moz-column-count: 1;
         column-count: 1;
  }
  .warranty-text {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.registered {
  margin: 10rem auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
}
.registered-success {
  position: absolute;
  transform: translateX(50%);
  top: 30%;
  left: 25%;
  color: #ff6600;
}
.registered-member {
  background-color: #ffeadf;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  text-align: center;
  color: #002b5b;
  margin: 0 auto;
  padding: 2rem 0rem;
}
.registered-member-ten {
  color: #ff6600;
}
.registered-para {
  background-color: pink;
  color: #002b5b;
  text-align: center;
}

.main_basket {
  width: 100%;
  display: flex;
  padding: 1rem;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: 152rem;
  padding: 0rem 4rem;
  height: calc(100vh - 32rem);
}

.basket_content {
  width: 80%;
  flex-grow: 1;
  background-color: white;
}
.basket_content-title {
  text-align: center;
  color: #808080;
}
.basket_content-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}
.basket_content-list-empty {
  color: #808080;
  margin: 0 auto;
}
.basket_content-list-row_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #002b5b;
  gap: 1rem;
  padding: 0 0.5rem;
}
.basket_content-list-row_container-order {
  width: 2.4rem;
  overflow-x: scroll;
}
.basket_content-list-row_container-thumbnail {
  width: 4rem;
}
.basket_content-list-row_container-name {
  color: #002b5b;
  min-width: 30rem;
  max-width: 35rem;
  overflow-x: scroll;
}
.basket_content-list-row_container-name a {
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}
.basket_content-list-row_container-name a:hover {
  color: #ff6600;
}
.basket_content-list-row_container-price {
  margin-left: auto;
  width: 10rem;
  text-align: right;
}
.basket_content-list-row_container-grip {
  width: 10rem;
}
.basket_content-list-row_container-length {
  width: 11rem;
}
.basket_content-list-row_container-quantity {
  width: 14rem;
}
.basket_content-list-row_container-quantity-label {
  width: 4rem;
}
.basket_content-list-row_container-quantity-input {
  width: 5rem;
  height: 3.2rem;
  color: #002b5b;
}
.basket_content-list-row_container-row_price {
  width: 15rem;
}
.basket_content-list-row_container-row_price-price {
  width: 100%;
}
.basket_content-list-row_container-remove_button {
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}
.basket_content-list-row_container-remove_button:hover {
  color: #ff6600;
}
.basket_content-list-row_container-error_para {
  color: #b51818;
  width: -moz-fit-content;
  width: fit-content;
  background-color: none;
}
.basket_content-list-row_container-error_para-reload_button {
  margin-left: 1.6rem;
  color: white;
  background-color: #ff6600;
  font-size: 1.6rem;
  padding: 0.2em 1em;
  max-height: 3.5em;
  transform: skewX(-10deg);
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  transition: transform 0.4s ease-in-out;
}
.basket_content-list-row_container-error_para-reload_button:hover {
  transform: skewX(0deg);
}
.basket_content-list > *:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
.basket_content-list > *:nth-child(odd) {
  background-color: #ffeadf;
}

.basket_summary {
  width: 20%;
  position: sticky;
  align-self: flex-start;
  top: 40%;
  padding: 1.5rem;
  gap: 1rem;
  background-color: white;
}
.basket_summary-title {
  color: #808080;
  text-align: left;
}
.basket_summary-details {
  color: #002b5b;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.basket_summary-details-sum {
  font-weight: 600;
}
.basket_summary-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.basket_summary-buttons .standard_button {
  margin: 0;
}

.header {
  top: 0;
  position: sticky;
  width: 100%;
  padding: 0.8rem 0;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  z-index: 15;
}
.header-content {
  width: 100%;
  max-width: 152rem;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-logo {
  height: 8rem;
  cursor: pointer;
}
.header-content-search {
  background-color: #002b5b;
  max-width: 47ch;
  display: flex;
  border: 0.4rem solid #002b5b;
  transform: skewX(-10deg);
}
.header-content-search-input {
  padding-right: 0.5rem;
  font-size: 1.6rem;
  text-align: right;
  color: #808080;
  border: none;
}
.header-content-search-input:focus {
  outline: 0.1rem solid #ff6600;
}
.header-content-search-button {
  background-color: #002b5b;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}
.header-content-search-button-img {
  width: 1.9rem;
  transform: skewX(10deg);
  transition: transform 0.4s ease-in-out;
}
.header-content-search-button:hover {
  background-color: #ff6600;
}
.header-content-search-button:hover .header-content-search-button-img {
  transform: rotate(-15deg);
}
.header-content-search-button:active {
  background-color: #ff6600;
}
.header-content-search-button:active .header-content-search-button-img {
  transform: rotate(15deg);
}
.header-content-burger {
  width: 4rem;
  visibility: collapse;
}
.header-content-nav-list {
  display: flex;
}
.header-content-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-account-user {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content-account-user-person {
  width: 4rem;
  position: relative;
  top: 0.4rem;
  left: 0.2rem;
}
.header-content-account-user-login {
  color: #002b5b;
  font-size: 1.6rem;
  position: relative;
  bottom: 0.4rem;
  max-width: 100%;
  overflow-x: scroll;
  transition: color 0.4s ease-in-out;
}
.header-content-account-user-login:hover {
  color: #ff6600;
}
.header-content-account-shopping {
  padding: 0 1rem;
  order: 0;
  position: relative;
  top: -0.25rem;
}
.header-content-account-shopping-basket_link {
  position: relative;
}
.header-content-account-shopping-basket_link-basket {
  width: 3.9rem;
  position: relative;
  top: 1.5rem;
}
.header-content-account-shopping-basket_link-number {
  position: absolute;
  left: 0.5rem;
  background-color: #ff6600;
  width: 1.8em;
  height: 1.8em;
  padding: 0.5em;
  border-radius: 50% 50%;
  position: relative;
  bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.header-content-account-shopping-basket_link-number:hover {
  transform: scale(1.2);
}
.header-content-account-shopping-basket_link-number:active {
  transform: scale(0.8);
  transition: transform 0.25s;
  transition-timing-function: ease-in;
}

@media (max-width: 128em) {
  .header-content {
    flex-wrap: wrap;
  }
  .header-content-nav {
    width: 100%;
    order: 1;
    margin-top: 0.8rem;
  }
  .header-content-nav .header-content-nav-list {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (pointer: coarse) {
  .button {
    padding: 2em 3em;
  }
  .header-content-burger {
    visibility: visible;
  }
}
.footer {
  clear: both;
  position: relative;
  bottom: 0;
  margin: 1.6rem auto;
  width: 152rem;
  padding: 0rem 4rem;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.footer-wrapper {
  width: 100%;
  color: white;
  filter: invert(100%);
  opacity: 0.5;
  padding: 1rem 0;
}
.footer-wrapper-address {
  font-size: 1.4rem;
  text-align: right;
}
.footer-wrapper-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-categories-category-list-row-link {
  color: white;
}
.footer-wrapper-categories-category-list-row-link-image {
  width: 3.2rem;
  margin-bottom: 1rem;
}
.footer-wrapper-categories-category-list-row-link:hover {
  text-decoration-line: underline;
}

.footer-wrapper-categories-category:last-child .footer-wrapper-categories-category-list-row:first-child {
  align-self: first baseline;
  margin-bottom: 0.5rem;
}
.footer-wrapper-categories-category:last-child .footer-wrapper-categories-category-list-row:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.recommendation {
  width: 100%;
  max-height: 60rem;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
.recommendation-animation {
  position: absolute;
  line-height: 2rem;
  top: 25%;
  left: 32.5%;
  transform: scale(1.5);
}
.recommendation-animation-text {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.recommendation-animation-text span {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 10rem;
  animation: wavy 1.5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
.recommendation-animation-container {
  width: 100%;
  height: 6rem;
  position: relative;
  overflow-x: hidden;
  margin-top: -1.6rem;
  scrollbar-width: none;
}
.recommendation-animation-container-ball {
  width: 10%;
  margin-left: 2rem;
  animation: ball_move 1.5s ease-in-out infinite, ball-roll 1.5s ease-in-out infinite;
}
.recommendation-paragraph {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100rem;
  position: absolute;
  top: 40%;
  left: 26%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.recommendation-paragraph-text {
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 33rem;
  font-size: 6rem;
}
.recommendation-paragraph-signature {
  max-width: 20rem;
  align-self: flex-end;
}
.recommendation-background {
  width: 100%;
  height: 100%;
}

@keyframes ball_move {
  0% {
    margin-left: -2rem;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes ball-roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
@keyframes wavy {
  0%, 100% {
    transform: translateY(0vw);
  }
  20% {
    transform: translateY(-2vw);
  }
  40% {
    transform: translateY(0vw);
  }
}
.header_link {
  padding: 0.4rem 2.2rem;
}
.header_link-link {
  font-size: 2rem;
  font-weight: 400;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
  text-decoration: none;
}
.header_link-link:hover {
  color: #ff6600;
}

.log_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  border: none;
  padding: 2rem 4rem;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.log_modal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
}

.log_modal::backdrop {
  background: rgba(255, 234, 223, 0.5);
}

.tab_nav {
  display: flex;
}
.tab_nav-button {
  width: 50%;
  border-bottom: 0.5rem solid #002b5b;
  font-size: 2rem;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}

.inactive {
  border-bottom: 0.5rem solid #808080;
  color: #808080;
}

.tab_nav-button:hover {
  color: #002b5b;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}
.input_wrapper label {
  font-size: 1.6rem;
  color: #002b5b;
}
.input_wrapper input {
  color: #002b5b;
  padding: 0.1rem 0.5rem;
  border: 0.2rem solid #808080;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.input_wrapper input:focus {
  outline: 0.2rem solid #ff6600;
}
.input_wrapper input:checked {
  outline: 0.2rem solid #ff6600;
  background-color: #ff6600;
  accent-color: #ff6600;
  outline: none;
}

.error_blinking {
  border-color: #b51818 !important;
  animation: blinking 1s infinite alternate;
}

@keyframes blinking {
  from {
    box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(121, 1, 1, 0.3882352941);
  }
}
.number_input_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.number_input_wrapper-label {
  color: #002b5b;
}
.number_input_wrapper-number_input {
  border: 0.2rem solid #002b5b;
  display: flex;
  flex-direction: row;
  height: 2.4rem;
}
.number_input_wrapper-number_input:has(.number_input_wrapper-number_input-plus_button:active), .number_input_wrapper-number_input:has(.number_input_wrapper-number_input-minus_button:active) {
  border: 0.2rem solid #ff6600;
}
.number_input_wrapper-number_input-minus_button, .number_input_wrapper-number_input-plus_button {
  padding: 0.2rem 0.6rem;
  color: #002b5b;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number_input_wrapper-number_input-minus_button {
  border-right: 0.2rem solid #002b5b;
}
.number_input_wrapper-number_input-plus_button {
  border-left: 0.2rem solid #002b5b;
}
.number_input_wrapper-number_input-minus_button:hover, .number_input_wrapper-number_input-plus_button:hover {
  background-color: #002b5b;
  color: white;
}
.number_input_wrapper-number_input-value_wrapper {
  width: 3.2rem;
  display: flex;
  justify-content: center;
  background-color: white;
}
.number_input_wrapper-number_input-value_wrapper-value {
  color: #002b5b;
  position: relative;
  top: -0.1rem;
  width: 100%;
  text-align: center;
}
.number_input_wrapper-number_input:focus {
  border: 0.2rem solid #ff6600;
}

.password_input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.password_input label {
  font-size: 1.6rem;
  color: #002b5b;
}
.password_input-wrapper {
  position: relative;
}
.password_input-wrapper input {
  color: #002b5b;
  border: 0.2rem solid #808080;
  padding: 0.1rem 0.5rem;
  padding-right: 6rem;
  width: 100%;
}
.password_input-wrapper .show {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 10;
}

.register {
  display: flex;
  flex-direction: column;
  color: #002b5b;
}
.register-summary {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.register-summary-inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.register-summary-sex {
  display: flex;
  gap: 1.6rem;
}
.register-summary-sex .input_wrapper {
  display: flex;
  flex-direction: row;
}
.register-summary-company .show {
  margin-left: 1rem;
}
.register-summary-company #tax_number {
  display: none;
}
.register-summary-policy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register-summary-policy-wrapper {
  display: flex;
  gap: 1rem;
}
.register-summary-policy-wrapper .input_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.register-summary-policy .reg_policy {
  display: none;
}

.error_output {
  color: #b51818;
  font-size: 1.4rem;
}

.register > * {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.wide_button div:last-child {
  margin-top: 1rem;
}

.logging {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.logging-error_output {
  color: #b51818;
}

.reg_policy {
  width: 100%;
  height: 10rem;
  color: #808080;
}

.profile_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  border: none;
  padding: 2rem 4rem;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.profile_modal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  overflow: hidden;
  color: #002b5b;
}
.profile_modal-wrapper-avatar {
  width: 15rem;
}
.profile_modal-wrapper-name {
  font-size: 2rem;
  font-weight: 600;
}
.profile_modal .light_button {
  max-width: 10rem;
}

.profile_modal::backdrop {
  background: rgba(255, 234, 223, 0.5);
}

.slideshow {
  width: 100%;
  min-height: 50rem;
  overflow-x: hidden;
  position: relative;
}
.slideshow-list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
  margin-left: 36rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.slideshow-nav {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}
.slideshow-nav-left_button-ball {
  transform: rotate(-180deg);
}

.slideshow-nav button {
  scale: 0.8;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}

.slideshow-nav button:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
.slideshow-list-slide {
  background-color: rgb(142, 184, 68);
  width: 72rem;
  height: 50rem;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-shrink: 0;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.slideshow-list-slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow-list-slide-details {
  -webkit-backdrop-filter: blur(10rem);
  background-color: rgba(255, 255, 255, 0.279);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  color: #002b5b;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  position: absolute;
  max-width: 45ch;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1.6rem 1.6rem 0;
  padding: 1rem;
}
.slideshow-list-slide-details h3 {
  text-align: center;
}
.slideshow-list-slide-details button {
  align-self: end;
}

.inactive_slide {
  scale: 0.8;
  filter: sepia(0.65);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.tile_browser {
  margin-top: 1.6rem;
  padding-top: 1rem;
  width: 100%;
  overflow-x: hidden;
}
.tile_browser-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.tile_browser-head-hr {
  max-width: 30rem;
}
.tile_browser-head-header {
  display: flex;
  flex-direction: column;
}
.tile_browser-head-header-title {
  color: #002b5b;
}
.tile_browser-head-header-hr {
  width: 27.5rem;
  color: #ff6600;
  border: 0.2rem solid #ff6600;
}
.tile_browser-head-nav {
  display: flex;
  gap: 1.6rem;
}
.tile_browser-head-nav button {
  scale: 0.8;
}
.tile_browser-head-nav button img {
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.tile_browser-head-nav-left_button-ball {
  transform: rotate(-180deg);
}
.tile_browser-head-nav-left_button:hover {
  transform: rotate(-180deg);
}
.tile_browser-head-nav button:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.tile_browser-list {
  display: flex;
  gap: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
.tile {
  width: 27.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 0 0 27.5rem;
  position: relative;
  cursor: pointer;
  border: 0.4rem solid transparent;
  -o-border-image: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
     border-image: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
  border-image-slice: 1;
  max-width: 100%;
}
.tile-link-img_wrapper {
  width: 100%;
  overflow: hidden;
}
.tile-link-img_wrapper-img {
  width: 100%;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.tile-link-img_wrapper-img:hover {
  transform: scale(1.2);
}
.tile-link-discount {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: white;
  font-size: 1.4rem;
  background-color: #ff6600;
  padding: 0.2rem 0.5rem;
  transform: skewX(-10deg);
}
.tile-link-details {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  pointer-events: none;
}
.tile-link-details-name {
  color: #002b5b;
  font-size: 1.6rem;
  overflow-x: scroll;
  margin-bottom: 0.8rem;
}
.tile-link-details-price {
  display: flex;
  gap: 0.8rem;
}
.tile-link-details-price-new {
  font-size: 2rem;
  color: #ff6600;
  font-weight: 600;
}
.tile-link-details-price-old {
  font-size: 1.4rem;
  color: gray;
}

.rate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rate-balls {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.rate-balls-ball-img_gray {
  filter: grayscale(1);
}
.rate-opinions {
  font-size: 1.4rem;
  color: #002b5b;
}
.rate-opinions-score {
  color: #002b5b;
}
.rate-opinions-score-average {
  color: #002b5b;
}
.rate-opinions-score-of {
  color: #002b5b;
}
.rate-opinions-score-number {
  color: #002b5b;
}
.rate-opinions-score-number-link {
  text-decoration: none;
  color: #002b5b;
  transition: color 0.4s ease-in-out;
}
.rate-opinions-score-number-link:hover {
  color: #ff6600;
}

.standard_button {
  background-color: #ff6600;
  font-size: 1.6rem;
  padding: 0.6em 1.4em;
  margin: 0 auto;
  max-height: 3.5em;
  transform: skewX(-10deg);
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  transition: transform 0.4s ease-in-out;
}
.standard_button-wrapper {
  transform: skewX(10deg);
  transition: transform 0.4s ease-in-out;
}
.standard_button-wrapper-link {
  color: white;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

.standard_button:hover {
  transform: skewX(0deg);
}
.standard_button:hover .standard_button-wrapper {
  transform: skewX(0deg);
}
.standard_button:hover .standard_button-wrapper .standard_button-wrapper-link {
  color: #002b5b;
  transition: color 0.4s;
  transition-timing-function: ease-in-out;
}

.light_button {
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0.45em 1.25em;
  transform: skewX(-10deg);
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  border: 0.3rem solid transparent;
  -o-border-image: linear-gradient(to right, rgba(128, 128, 128, 0), #808080);
     border-image: linear-gradient(to right, rgba(128, 128, 128, 0), #808080);
  border-image-slice: 1;
  transition: transform 0.4s ease-in-out;
}
.light_button-wrapper {
  transform: skewX(10deg);
}
.light_button-wrapper-link {
  color: #808080;
  letter-spacing: 0.2rem;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

.light_button:hover {
  transform: skewX(0deg);
}
.light_button:hover .light_button-wrapper {
  transform: skewX(0deg);
}
.light_button:hover .light_button-wrapper .light_button-wrapper-link {
  color: #002b5b;
}

.wide_button {
  width: 60%;
  margin: 0 auto;
  background-color: #002b5b;
  font-size: 1.6rem;
  padding: 0.2em 0em;
  border: 0.2rem solid transparent;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
  box-sizing: content-box;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}
.wide_button-wrapper {
  position: relative;
  bottom: 0.25em;
}
.wide_button-wrapper-link {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: color 0.4s ease-in-out;
}

.wide_button:hover {
  background-color: transparent;
  border-color: #002b5b;
}
.wide_button:hover .wide_button-wrapper .wide_button-wrapper-link {
  color: #002b5b;
}

.ugly_button {
  font-size: 1.6rem;
  padding: 0.6em 1.4em;
  margin: 0 auto;
}
.ugly_button-wrapper-link {
  color: #808080;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.ugly_button-wrapper-link:hover {
  text-decoration: underline;
}

.show {
  font-size: 1.4rem;
  color: #808080;
  transition: color 0.4s ease-in-out;
}

.show:hover {
  color: #002b5b;
}

.breadcrumbs {
  width: 100%;
  position: fixed;
  top: 10rem;
  transition: transform 0.3s ease-out;
  z-index: 10;
}
.breadcrumbs-breadcrumbs_list {
  display: flex;
  gap: 0.5rem;
  max-width: 152rem;
  padding: 0rem 4rem;
  width: 100%;
  margin: 0.8rem auto 0 auto;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  color: #808080;
}
.breadcrumbs-breadcrumbs_list-crumb-link {
  text-decoration: none;
  color: #808080;
  transition: color 0.4s ease-in-out;
}
.breadcrumbs-breadcrumbs_list-crumb-link:hover {
  color: #ff6600;
}
.breadcrumbs-breadcrumbs_list li:only-child a {
  color: #002b5b;
}
.breadcrumbs-breadcrumbs_list-last_crumb {
  color: #002b5b;
}
.breadcrumbs-breadcrumbs_list-separator {
  color: #808080;
}
.breadcrumbs-breadcrumbs_list-separator:last-child {
  visibility: hidden;
}

.hidden_crumb {
  transform: translateY(-110%);
}

@media (max-width: 128em) {
  .breadcrumbs {
    top: 14rem;
  }
}
@media (max-width: 641px) {
  .breadcrumbs {
    top: 22rem;
  }
}
.product_preview {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.product_preview-preview {
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: none; /* Optional: hide default cursor */
}
.product_preview-preview-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_preview-slideshow {
  position: absolute;
}
.product_preview-slideshow-list {
  background: linear-gradient(to right, rgba(0, 42, 91, 0), #002b5b);
  padding: 0.5rem;
  max-height: 55rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: 5.4rem;
  left: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.product_preview-slideshow-list-slide {
  flex: 1;
  transform: scale(1);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.product_preview-slideshow-list-slide-button-image {
  height: 10rem;
}
.product_preview-slideshow-list-slide:hover {
  transform: scale(1.3);
  z-index: 10;
}
.product_preview-slideshow-list:hover {
  opacity: 1;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.digit_balls {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.digit_balls-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.digit_balls-item-label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #002b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  border: 2px solid #002b5b;
}
.digit_balls-item-label:hover {
  background-color: #002b5b;
  color: white;
}
.digit_balls-item-ball {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
.digit_balls-item-ball:checked + label {
  background-color: #002b5b;
  color: white;
  border-color: #002b5b;
}

.display_discount {
  color: white;
  font-size: 1.4rem;
  background-color: #ff6600;
  max-width: 4rem;
  height: 2.5rem;
  padding: 0.2rem 0.5rem;
  transform: skewX(-10deg);
}

.review {
  background-color: white;
  width: 40rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.review-head {
  padding: 0.8rem 0;
}
.review-text {
  width: 100%;
  color: #002b5b;
  overflow-y: scroll;
  box-shadow: 0rem -1rem 1rem -1rem rgba(0, 0, 0, 0.3882352941) inset;
  max-height: 10rem;
}
.review-stamp {
  padding: 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.review-stamp-time {
  color: #002b5b;
}
.review-stamp-full_name {
  overflow-x: scroll;
  text-align: right;
  color: #002b5b;
}

hr {
  margin-top: 2rem;
  width: 100%;
}

.prod_browser {
  margin-top: 1.6rem;
  padding-top: 1rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.prod_browser-nav {
  display: flex;
  justify-content: end;
  gap: 1.6rem;
}
.prod_browser-nav-sorting-label {
  color: #002b5b;
}
.prod_browser-nav-sorting-sort_by {
  color: #002b5b;
  border-radius: 0;
}
.prod_browser-nav-brands-label {
  color: #002b5b;
}
.prod_browser-nav-brands-select {
  color: #002b5b;
  border-radius: 0;
}
.prod_browser-nav-display-label {
  color: #002b5b;
}
.prod_browser-nav-display-display_number {
  color: #002b5b;
  border-radius: 0;
}
.prod_browser-nav-button_wrapper {
  display: flex;
  gap: 2rem;
}
.prod_browser-nav-button_wrapper button {
  width: 3rem;
  position: relative;
}
.prod_browser-nav-button_wrapper button img {
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.prod_browser-nav-button_wrapper-left_button-ball {
  transform: rotate(-180deg);
}
.prod_browser-nav-button_wrapper-left_button-count_prev {
  position: absolute;
  color: #002b5b;
  font-size: 2rem;
  font-weight: 600;
  transform: translate(-50%, -100%);
  z-index: 4;
}
.prod_browser-nav-button_wrapper-right_button-count_next {
  position: absolute;
  color: #002b5b;
  font-size: 2rem;
  font-weight: 600;
  transform: translate(-50%, -100%);
  z-index: 4;
}
.prod_browser-nav-button_wrapper-right_button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.prod_browser-nav-button_wrapper-left_button:hover {
  transform: rotate(-180deg);
}
.prod_browser-nav-button_wrapper-left_button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.prod_browser-nav-button_wrapper button:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.prod_browser-list {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
.basket_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border: none;
  padding: 2rem 4rem;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3882352941);
}
.basket_modal-wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
}

.basket_modal::backdrop {
  background: rgba(255, 234, 223, 0.5);
}

.checkout_title {
  width: 100%;
  color: #808080;
  position: sticky;
  text-align: center;
  margin: 2rem auto;
}

.main_checkout {
  height: 90vh;
  display: flex;
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: 152rem;
  padding: 0rem 4rem;
  overflow-y: scroll;
}
.main_checkout-logo {
  width: 10rem;
}
.main_checkout-title {
  color: #808080;
  margin: 0 auto;
  background-color: white;
}
.main_checkout-content {
  display: flex;
  background-color: white;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 2rem;
}
.main_checkout-content-products {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.main_checkout-content-products-title {
  text-align: center;
  color: #808080;
}
.main_checkout-content-products-list_title {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  color: #002b5b;
}
.main_checkout-content-products-sum {
  text-align: right;
}
.main_checkout-summary {
  width: 20%;
  position: sticky;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  top: 40%;
  padding: 1.5rem;
  gap: 1.6rem;
  background-color: white;
}
.main_checkout-summary-logo {
  width: 5rem;
  filter: grayscale(100%);
}
.main_checkout-summary-title {
  color: #808080;
}
.main_checkout-summary-details {
  color: #002b5b;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main_checkout-summary-details-sum {
  font-weight: 600;
}

.checkout_list_wrapper {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.checkout_list_wrapper-checkout_list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 20rem;
  overflow-y: scroll;
  box-shadow: 0rem -1rem 1rem -1rem rgba(0, 0, 0, 0.3882352941) inset;
  z-index: 2;
}
.checkout_list_wrapper-checkout_list-item {
  color: #002b5b;
}
.checkout_list_wrapper-sum {
  margin-top: 1rem;
  color: #002b5b;
  text-align: right;
}
.checkout_list_wrapper-checkout_list > *:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
.checkout_list_wrapper-checkout_list > *:nth-child(odd) {
  background-color: #ffeadf;
}

.checkout_address_form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: #002b5b;
  gap: 1.6rem;
}
.checkout_address_form-address_data {
  display: flex;
  flex-direction: column;
}
.checkout_address_form-address_data-postal_wrapper .input_wrapper:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.checkout_address_form-address_data-point_wrapper {
  margin-top: 1.6rem;
}
.checkout_address_form-address_data-point_wrapper button {
  border: 0.1rem solid #808080;
  padding: 0.3rem 0.6rem;
}
.checkout_address_form-address_data-point_wrapper button:hover {
  border: 0.1rem solid #002b5b;
}
.checkout_address_form-address_data-point_wrapper-input {
  display: none;
}

.hide_passwords {
  display: none;
}

.input_wrapper:has(#set_account) {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.input_wrapper:has(#set_account:checked) + .hide_passwords {
  display: block;
}

body {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
}

.main {
  margin: 1.6rem auto;
  margin-top: 4rem;
  max-width: 152rem;
  padding: 0rem 4rem;
}/*# sourceMappingURL=index.css.map */