.checkout_list_wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;

  &-checkout_list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 20rem;
    overflow-y: auto;
    box-shadow: 0rem -1rem 1rem -1rem rgba(0, 0, 0, 0.3882352941) inset;
    z-index: 2;
    &-item {
      color: $granat;
    }
  }
  &-sum {
    margin-top: 1rem;
    color: $granat;
    text-align: right;
  }
  &-checkout_list > *:nth-child(even) {
    background-color: rgb(201, 201, 201);
  }
  &-checkout_list > *:nth-child(odd) {
    background-color: $faded-orange;
  }
}
