.footer {
  clear: both;
  position: relative;
  bottom: 0;
  margin: 1.6rem auto;
  width: $main-view-max-width;
  padding: $main-view-padding;

  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);

  &-wrapper {
    width: 100%;
    color: $white;
    // background-color: $gray;
    filter: invert(100%);
    opacity: 0.5;
    padding: 1rem 0;
    &-address {
      font-size: $font-small;
      text-align: right;
    }
    &-categories {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-category {
        &-list {
          &-row {
            &-link {
              color: $white;
              &-image {
                width: 3.2rem;
                margin-bottom: 1rem;
              }
            }
            &-link:hover {
              text-decoration-line: underline;
            }
          }
        }
      }
    }
  }
}

.footer-wrapper-categories-category:last-child {
  .footer-wrapper-categories-category-list-row:first-child {
    align-self: first baseline;
    margin-bottom: 0.5rem;
  }
  .footer-wrapper-categories-category-list-row:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
}
