.header {
  top: 0;
  background-color: rgb(202, 202, 202);
  position: sticky;
  width: 100%;
  padding: 0.8rem 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  &-content {
    background-color: gray;
    width: 100%;
    max-width: $main-view-max-width;
    padding: $main-view-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      height: 8rem;
      cursor: pointer;
    }
    &-search {
      background-color: $granat;
      max-width: 47ch;
      display: flex;
      border: 0.4rem solid $granat;
      transform: skewX(-10deg);

      &-input {
        padding-right: 0.5rem;
        font-size: $font-medium;
        text-align: right;
        color: $gray;
        border: none;
      }
      &-input:focus {
        outline: 0.1rem solid $orange;
      }

      &-button {
        background-color: $granat;
        width: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.4s ease-in-out;

        &-img {
          width: 1.9rem;
          transform: skewX(10deg);
          transition: transform 0.4s ease-in-out;
        }
      }
      &-button:hover {
        background-color: $orange;
        .header-content-search-button-img {
          transform: rotate(-15deg);
        }
      }
      &-button:active {
        background-color: $orange;
        .header-content-search-button-img {
          transform: rotate(15deg);
        }
      }
    }
    &-burger {
      width: 4rem;
      visibility: collapse;
    }
    &-nav {
      &-list {
        display: flex;
        background-color: burlywood;
      }
    }
    &-account {
      background-color: beige;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-user {
        background-color: bisque;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-person {
          width: 4rem;
          position: relative;
          top: 0.4rem;
          left: 0.2rem;
        }
        &-login {
          color: $granat;
          font-size: $font-medium;
          position: relative;
          bottom: 0.4rem;
          max-width: 100%;
          overflow-x: scroll;
          transition: color 0.4s ease-in-out;
        }
        &-login:hover {
          color: $orange;
          // transition: color 0.25s;
          // transition-timing-function: ease-in;
        }
      }
      &-shopping {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        order: 0;
        justify-content: center;
        align-items: center;
        &-basket {
          width: 4rem;
          position: relative;
          top: 1.2rem;
        }
        &-ball {
          background-color: $orange;
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50% 50%;
          position: relative;
          bottom: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.4s ease-in-out;

          &-counter {
            color: $white;
            font-size: $font-medium;
            font-weight: $font-weight-thick;
          }
        }
        &-ball:hover {
          transform: scale(1.2);
          // transition: transform 0.25s;
          // transition-timing-function: ease-in;
        }
        &-ball:active {
          transform: scale(0.8);
          transition: transform 0.25s;
          transition-timing-function: ease-in;
        }
      }
    }
  }
}
@media (max-width: 128em) {
  .header-content {
    flex-wrap: wrap;
    &-nav {
      width: 100%;
      order: 1;
      margin-top: 0.8rem;
      .header-content-nav-list {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}
@media (pointer: coarse) {
  //burger menu
  .button {
    padding: 2em 3em;
  }
  .header-content-burger {
    visibility: visible;
  }
}
