.prod_browser {
  background-color: turquoise;
  margin-top: 1.6rem;
  padding-top: 1rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &-nav {
    display: flex;
    justify-content: end;
    gap: 1.6rem;
    &-sorting {
      &-label {
        color: $granat;
      }
      &-sort_by {
        color: $granat;
        border-radius: 0;
      }
    }
    &-display {
      &-label {
        color: $granat;
      }

      &-display_number {
        color: $granat;
        border-radius: 0;
      }
    }
    &-button_wrapper {
      display: flex;
      gap: 2rem;
      button {
        width: 3rem;
        position: relative;
        img {
          border-radius: 50%;
          box-shadow: $box-shadow;
        }
      }
      &-left_button {
        &-ball {
          transform: rotate(-180deg);
        }
        &-count_prev {
          position: absolute;
          color: $granat;
          font-size: $font-large;
          font-weight: $font-weight-thick;

          // top: 0rem;
          // left: 0rem;
          transform: translate(-50%, -100%);
          z-index: 4;
        }
      }
      &-right_button {
        &-count_next {
          position: absolute;

          color: $granat;
          font-size: $font-large;
          font-weight: $font-weight-thick;
          transform: translate(-50%, -100%);
          z-index: 4;
        }
      }
      &-left_button:hover {
        transform: rotate(-180deg);
      }
      button:hover {
        animation: bounce 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }

  &-list {
    background-color: yellow;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    // width: 100%;
    flex-wrap: wrap;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
