.basket_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border: none;
  padding: 2rem 4rem;
  box-shadow: $box-shadow;
  &-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    overflow: hidden;
  }
}
.basket_modal::backdrop {
  background: transparentize($faded-orange, 0.5);
}
