.breadcrumbs_wrapper {
  background-color: pink;
  margin: 1.6rem auto;
  max-width: $main-view-max-width;
  padding: $main-view-padding;
  &-breadcrumbs {
    display: flex;
    &-crumb {
      &-link {
        color: $granat;
      }
      &-link:hover {
        color: $orange;
      }
    }
  }
}
