.digit_balls {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &-label {
      user-select: none;
      color: $granat;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      cursor: pointer;
      z-index: 2;
      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
      border: 2px solid $granat;
      &:hover {
        background-color: $granat;
        color: $white;
      }
    }
    &-ball {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      pointer-events: none;
    }
    &-ball:checked + label {
      background-color: $granat;
      color: $white;
      border-color: $granat;
    }
  }
}
