.header_link {
  padding: 0.4rem 2.2rem;
  &-link {
    font-size: $font-large;
    font-weight: $font-weight-normal;
    color: $granat;
    transition: color 0.4s ease-in-out;
    text-decoration: none;
  }
  &-link:hover {
    color: $orange;
  }
}
