.input_wrapper {
  display: flex;
  flex-direction: column;
  // gap: 0.6rem;
  label {
    font-size: $font-medium;
    color: $granat;
  }
  input {
    color: $granat;
    padding: 0.1rem 0.5rem;
    border: 0.2rem solid $gray;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  input:focus {
    outline: 0.2rem solid $orange;
  }
  input:checked {
    outline: 0.2rem solid $orange;
    background-color: $orange;
    accent-color: $orange;
    outline: none;
  }
}
.error_blinking {
  border-color: $error-color !important;
  animation: blinking 1s infinite alternate;
}
@keyframes blinking {
  from {
    box-shadow: 0rem 0rem 0.2rem 0.1rem #ffffff00;
  }
  to {
    box-shadow: 0rem 0rem 0.6rem 0.1rem #79010163;
  }
}
