.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  label {
    font-size: $font-medium;
    color: $granat;
  }
  input {
    padding: 0.1rem 0.5rem;
    border: 0.2rem solid $gray;
  }
}
