.light_button {
  background-color: transparent;
  font-size: $font-medium;
  padding: 1em 2em;
  transform: skewX(-10deg);
  box-shadow: $box-shadow;
  //   border: 0.2rem solid $granat;
  border: 0.4rem solid transparent;
  border-image: $outline-gray;
  border-image-slice: 1;

  &-wrapper {
    transform: skewX(10deg);
    &-link {
      color: $gray;
      font-weight: $font-weight-thick;
    }
  }
}
.light_button:hover {
  transform: skewX(0deg);
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  .light_button-wrapper {
    transform: skewX(0deg);
    .light_button-wrapper-link {
      color: $granat;
    }
  }
}
