.password_input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  label {
    font-size: $font-medium;
    color: $granat;
  }
  &-wrapper {
    position: relative;

    input {
      border: 0.2rem solid $gray;
      padding: 0.1rem 0.5rem;
      padding-right: 6rem;
      width: 100%;
    }
    .show_password {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      z-index: 10;
    }
  }
}
