.profile_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  border: none;
  padding: 2rem 4rem;
  box-shadow: $box-shadow;
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    overflow: hidden;
    color: $granat;
    &-avatar {
      width: 15rem;
    }
    &-name {
      font-size: $font-large;
      font-weight: $font-weight-thick;
    }
  }
  .light_button {
    max-width: 10rem;
  }
}
.profile_modal::backdrop {
  background: transparentize($faded-orange, 0.5);
}
