.product_preview {
  background-color: rgb(66, 35, 12);
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  &-preview {
    background-color: rgb(74, 73, 73);
    position: relative;
    overflow: hidden;
    cursor: none; /* Optional: hide default cursor */
    &-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-slideshow {
    position: absolute;
    &-list {
      background: $outline-granat;
      padding: 0.5rem;
      max-height: 55rem;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      top: 5.4rem;
      left: 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      &-slide {
        flex: 1;
        transform: scale(1);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        &-button {
          &-image {
            height: 10rem;
          }
        }
      }
      &-slide:hover {
        transform: scale(1.3);
        z-index: 10;
      }

      // &-slide:first-child {
      //   scale: 0.1;
      // }
    }
    &-list:hover {
      opacity: 1;
    }
  }
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
