.product_preview {
  background-color: rgb(66, 35, 12);
  min-width: 72rem;
  min-height: 100rem;
  display: flex;
  flex-direction: row;
  position: relative;
  &-preview {
    background-color: rgb(74, 73, 73);
    width: 100%;
  }
  &-slideshow {
    position: absolute;
    &-list {
      background-color: $gray;
      padding: 1rem;
      max-height: 61rem;
      overflow-y: scroll;
      position: relative;
      top: 5.4rem;
      left: 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      opacity: 0.8;
      &-slide {
        &-image {
          height: 10rem;
        }
      }
    }
  }
}
