.product_preview {
  background-color: rgb(66, 35, 12);
  min-width: 72rem;
  min-height: 100rem;
  display: flex;
  flex-direction: row;
  position: relative;
  &-preview {
    background-color: rgb(74, 73, 73);
    width: 100%;
  }
  &-slideshow {
    position: absolute;
    &-list {
      background: $outline-granat;
      // outline: $outline-granat;
      padding: 0.5rem;
      max-height: 55rem;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      top: 5.4rem;
      left: 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      &-slide {
        flex: 1;
        transform: scale(1);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        &-button {
          &-image {
            height: 10rem;
          }
        }
      }
      &-slide:hover {
        transform: scale(1.3);
        z-index: 10;
      }

      // &-slide:first-child {
      //   scale: 0.1;
      // }
    }
    &-list:hover {
      opacity: 1;
    }
  }
}
