.rate {
  display: flex;
  align-items: center;
  &-balls {
    display: flex;

    flex-direction: row;
    gap: 0.2rem;
  }
  &-opinions {
    &-number {
      color: $granat;
    }
    &-link {
      color: $granat;
    }
    &-link:hover {
      color: $orange;
    }
  }
}
