.rate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  &-balls {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    &-ball {
      &-img_gray {
        filter: grayscale(1);
      }
    }
  }
  &-opinions {
    // background-color: orange;
    font-size: $font-small;
    color: $granat;
    &-score {
      &-number {
        color: $granat;
        &-link {
          text-decoration: none;
          color: $granat;
          transition: color 0.4s ease-in-out;
        }
        &-link:hover {
          color: $orange;
        }
      }
    }
  }
}
