.register {
  display: flex;
  flex-direction: column;
  color: $granat;
  &-summary {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
    &-sex {
      display: flex;
      gap: 1.6rem;
      .input_wrapper {
        display: flex;
        flex-direction: row;
      }
    }
    &-policy {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .input_wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
      }
    }
  }
  // &-password_wrapper {
  //   &-password_show_input {
  //     position: relative;
  //     .input_wrapper input {
  //       padding-right: 4rem;
  //     }
  //     .show_password {
  //       position: absolute;
  //       top: 50%;
  //       right: 50%;
  //       transform: translateY(-50%);
  //     }
  //   }
  // }
}
.register > * {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.wide_button div:last-child {
  margin-top: 1rem;
}
