.register {
  display: flex;
  flex-direction: column;
  color: $granat;
  &-summary {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
    &-sex {
      display: flex;
      gap: 1.6rem;
      .input_wrapper {
        display: flex;
        flex-direction: row;
      }
    }
    &-policy {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .input_wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
      }
    }
  }
}
.register > * {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.wide_button div:last-child {
  margin-top: 1rem;
}
