.slideshow-list-slide {
  background-color: rgb(142, 184, 68);
  width: 72rem;
  height: 50rem;
  //   padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-shrink: 0;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-details {
    -webkit-backdrop-filter: blur(10rem);
    background-color: rgba(255, 255, 255, 0.279);
    backdrop-filter: blur(1rem);
    color: $granat;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    position: absolute;
    max-width: 45ch;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 1.6rem 1.6rem 0;
    padding: 1rem;
    h3 {
      text-align: center;
    }
  }
  &-details button {
    align-self: end;
  }
}
.inactive_slide {
  scale: 0.8;
  filter: sepia(0.65);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
