.tab_nav {
  // background-color: rgb(233, 185, 81);
  display: flex;
  &-button {
    // background-color: rgb(207, 231, 52);
    width: 50%;
    border-bottom: 0.5rem solid $granat;
    font-size: $font-large;
    color: $granat;
    transition: color 0.4s ease-in-out;
  }
}
.inactive {
  border-bottom: 0.5rem solid $gray;
  color: $gray;
}
.tab_nav-button:hover {
  color: $granat;
}
