.tile_browser {
  margin-top: 1.6rem;
  padding-top: 1rem;
  width: 100%;
  overflow-x: hidden;
  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    &-hr {
      max-width: 30rem;
    }
    &-header {
      display: flex;
      flex-direction: column;
      &-title {
        color: $granat;
      }
      &-hr {
        width: 27.5rem;
        color: $orange;
        border: 0.2rem solid $orange;
      }
    }
    &-nav {
      display: flex;
      gap: 1.6rem;
      button {
        scale: 0.8;
        img {
          border-radius: 50%;
          box-shadow: $box-shadow;
        }
      }
      &-left_button {
        &-ball {
          transform: rotate(-180deg);
        }
      }
      &-left_button:hover {
        transform: rotate(-180deg);
      }
      button:hover {
        animation: bounce 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }
  &-list {
    display: flex;
    gap: 1.6rem;
    width: fit-content;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0.5rem);
  }
  50% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 1rem);
  }
}
